<launch>

  <node output="screen" name="rosbridge" pkg="rosbridge_server" type="rosbridge.py" />
  
  <node output="screen" name="pr2_marker_control_proxy" pkg="interactive_marker_proxy" type="proxy">
    <remap from="target_frame" to="/base_link"/>
    <remap from="topic_ns" to="/pr2_marker_control"/>
  </node>
  
</launch>
