<launch>

  <node output="screen" name="rosbridge" pkg="rosbridge_server" type="rosbridge.py" />
  
  <!-- http image topic video streamer -->
  <node name="ros_web_video" output="screen" pkg="ros_web_video" type="ros_web_video" >
    <param name="port" value="9999"/>
    <param name="framerate" value="15"/>
    <param name="bitrate" value="250000"/>
    <param name="profile" value="best"/>
    <param name="wwwroot" value="$(find depthcloud_www)"/>
  </node>

</launch>
